:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-monospace: monospace;
  --base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
  --base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
  --highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
  --heading-color: {{ .Site.Params.headingColor | default "#1c1b1d" }};
  --text-color: {{ .Site.Params.textColor | default "#4e5157" }};
  --dot-color: {{ .Site.Params.dotColor | default "#7b16ff" }};
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';

/* Custom Styles for Navigation */
.menu-main > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.menu-main > ul > li {
  position: relative;
  margin: 0;
  list-style: none;
}

.menu-main > ul > li::before {
  content: "•";
  color: var(--dot-color);
  margin-right: 0.5rem;
  position: absolute;
  left: -1rem;
}

.menu-main-mobile {
  position: fixed;
  background: var(--highlight-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: none;
  justify-content: center;
  flex-direction: column;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 10;
    display: flex;

    li {
      animation: fadeInTop 0.5s ease forwards;
    }
  }

  ul {
    font-size: 2rem;
    font-family: var(--font-family-heading);
    text-align: center;
    list-style: none;
    margin: 0;
    flex: 0;
  }
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
}
